---
import Layout from '../layouts/Layout.astro';
import Navigation from '../sections/Navigation.astro';
import Hero from '../sections/Hero.astro';
import Clients from '../sections/Clients.astro';
import Methodology from '../sections/Methodology.astro';
import ExperienceMetrics from '../sections/ExperienceMetrics.astro';
import Solutions from '../sections/Solutions.astro';
import Products from '../sections/Products.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Metnet - Technology Consulting">
	<Navigation />
	<main>
    <Hero />
    <Clients />
    <Methodology />
    <ExperienceMetrics />
    <Solutions />
    <Products />
    <Contact />
	</main>
  <Footer />
</Layout>
